/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Configuration for running on kraken
 * -------------------------------------------------
 */

process {
  executor = 'local'
}

params {
  genome       = 'smallGRCh37'
  genome_base  = 'References/smallGRCh37'
  max_cpus     = 16
  max_memory   = 60.GB
  max_time     = 72.h
  singleCPUMem = 3.75.GB
  totalMemory  = 60.GB
}

executor.$local.cpus = 16

process {
  cpus = params.max_cpus
  memory = params.max_memory
}

withName:RunVEP {
  maxForks = 1
}

withName:RunSnpeff {
  maxForks = 1
}
