/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Disables docker and singularity containerization.
 * Meant to be used with the conda.config
 * -------------------------------------------------
 */
docker.enabled = false
singularity.enabled = false
